body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:50px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:50px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:688px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:50px;
  width:824px;
  height:688px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:30px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:738px;
  width:1024px;
  height:30px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:41px;
  color:#000000;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:41px;
  color:#000000;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:41px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:200px;
  height:41px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:200px;
  height:41px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:200px;
  height:41px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:289px;
  width:200px;
  height:41px;
  color:#000000;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:329px;
  width:200px;
  height:41px;
  color:#000000;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:200px;
  height:41px;
  color:#FF0000;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:200px;
  height:41px;
  color:#FF0000;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  text-align:center;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:231px;
  width:773px;
  height:327px;
  font-size:20px;
  text-align:center;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:152px;
  width:753px;
  word-wrap:break-word;
}
#u2609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:200px;
  height:41px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
